@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-content h2 {
    @apply font-bold text-2xl md:text-3xl my-4;
}

.markdown-content .difficulty {
    @apply text-xs text-black py-[4px] px-2 rounded-md;
}

.markdown-content .progress {
    @apply rounded-md;
}

.markdown-content .progress-1 {
    @apply bg-primary w-1/5;
}

.markdown-content .progress-2 {
    @apply bg-emerald-300 w-2/5;
}

.markdown-content .progress-3 {
    @apply bg-amber-300 w-3/5;
}

.markdown-content .progress-4 {
    @apply bg-rose-400 w-4/5;
}

.markdown-content .progress-5 {
    @apply bg-violet-300 w-full;
}

.markdown-content .difficulty-amateur {
    @apply bg-emerald-300;
}

.markdown-content .difficulty-intermediate {
    @apply bg-amber-300;
}


.markdown-content .difficulty-novice {
    @apply bg-primary;
}

.markdown-content .difficulty-advance {
    @apply bg-rose-400;
}

.markdown-content .difficulty-expert {
    @apply bg-violet-400;
}

.markdown-content .marker {
    opacity: 0;
    @apply dark:bg-surface-2 w-48 p-2 text-sm bg-neutral-200 flex flex-col gap-2 rounded-md transition absolute -top-[2rem] -left-[1.5rem];
}

.markdown-content .entry:hover > .marker {
    opacity: 1;
}

.markdown-content .entry {
    @apply relative;
}

.markdown-content a {
    @apply text-neutral-600 hover:text-neutral-900 dark:text-muted dark:hover:text-foreground transition;
}

.markdown-content h3 {
    @apply font-bold md:font-normal text-xl md:text-2xl my-4;
}

.markdown-content h1 {
    @apply text-3xl md:text-4xl font-bold my-4;
}

.markdown-content pre {
    @apply p-4 my-4 rounded-md bg-neutral-100 dark:bg-background-2 border-2 border-neutral-200 dark:border-surface-2 overflow-x-auto;
    font-family: "Victor Mono";
}

.markdown-content pre span {
    @apply text-[16px];
    font-family: "Victor Mono";
}

.markdown-content code {
    font-family: "Victor Mono";
}

.markdown-content img {
    @apply my-4 rounded-xl w-full;
}

.markdown-content .diagram {
    @apply my-4 rounded-xl w-full invert dark:invert-0 transition;
}

.markdown-content {
    @apply text-lg leading-8;
}

.markdown-content ul {
    @apply list-disc ml-4  marker:text-muted;
}
.markdown-content ol {
    @apply list-decimal ml-4  marker:text-muted;
}

.markdown-content .seperator {
    @apply w-full pt-[1px] px-2 bg-neutral-200  dark:bg-contrast my-4;
}

* {
    font-family: "Geist";
}

:root {
    --shiki-color-text: #171717;
    --shiki-color-background: transparent;
    --shiki-token-constant: #52a8ff;
    --shiki-token-string: #059669;
    --shiki-token-comment: #404040;
    --shiki-token-keyword: #e11d48;
    --shiki-token-parameter: #eab308;
    --shiki-token-function: #6d28d9;
    --shiki-token-string-expression: #059669;
    --shiki-token-punctuation: #404040;
    --shiki-token-link: #059669;
}

:root.dark {
    --shiki-color-text: #ededed;
    --shiki-color-background: transparent;
    --shiki-token-constant: #52a8ff;
    --shiki-token-string: #62c073;
    --shiki-token-comment: #9c9c9c;
    --shiki-token-keyword: #f75f8f;
    --shiki-token-parameter: #ffb224;
    --shiki-token-function: #bf7af0;
    --shiki-token-string-expression: #62c073;
    --shiki-token-punctuation: #9c9c9c;
    --shiki-token-link: #62c073;
}
